@keyframes anime {
    from {
        opacity: 1;
        filter: hue-rotate(290deg);
        transform: scale(0.2);
    }

    to {
        opacity: 0;
        filter: hue-rotate(0deg);
        transform: scale(1);
    }
}