@import 'reset', 'variables', 'animations', 'mixins';

html {
    background: $background;
}

main{
    @include flex(column, center, center);
    height: 100%;
    width: 100%;
}

.container {
    background: $container;
    height: 75%;
    width:75%;
    display: grid;
    grid-gap: 5px;
    grid-template: auto / repeat(5, 1fr);
}

.cubes {
    background: $cubes;
}