* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  width: 100%;
  font-size: 100%;
}

body {
  width: 100%;
  height: 100%;
}

@keyframes anime {
  from {
    opacity: 1;
    filter: hue-rotate(290deg);
    transform: scale(0.2);
  }
  to {
    opacity: 0;
    filter: hue-rotate(0deg);
    transform: scale(1);
  }
}
html {
  background: #d6d4d4;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container {
  background: #bdebf6;
  height: 75%;
  width: 75%;
  display: grid;
  grid-gap: 5px;
  grid-template: auto/repeat(5, 1fr);
  grid-template-areas: "a b c d e" "f g h i j" "k l m n o" "p q r s t";
}

.cubes {
  background: #fb96a7;
}

.cubes:nth-child(1) {
  animation: anime 3s ease-in-out infinite;
  grid-area: a;
  animation-delay: calc(1 * 400ms);
}

.cubes:nth-child(2) {
  animation: anime 3s ease-in-out infinite;
  grid-area: b;
  animation-delay: calc(2 * 400ms);
}

.cubes:nth-child(3) {
  animation: anime 3s ease-in-out infinite;
  grid-area: c;
  animation-delay: calc(3 * 400ms);
}

.cubes:nth-child(4) {
  animation: anime 3s ease-in-out infinite;
  grid-area: d;
  animation-delay: calc(4 * 400ms);
}

.cubes:nth-child(5) {
  animation: anime 3s ease-in-out infinite;
  grid-area: e;
  animation-delay: calc(5 * 400ms);
}

.cubes:nth-child(6) {
  animation: anime 3s ease-in-out infinite;
  grid-area: j;
  animation-delay: calc(6 * 400ms);
}

.cubes:nth-child(7) {
  animation: anime 3s ease-in-out infinite;
  grid-area: o;
  animation-delay: calc(7 * 400ms);
}

.cubes:nth-child(8) {
  animation: anime 3s ease-in-out infinite;
  grid-area: t;
  animation-delay: calc(8 * 400ms);
}

.cubes:nth-child(9) {
  animation: anime 3s ease-in-out infinite;
  grid-area: s;
  animation-delay: calc(9 * 400ms);
}

.cubes:nth-child(10) {
  animation: anime 3s ease-in-out infinite;
  grid-area: r;
  animation-delay: calc(10 * 400ms);
}

.cubes:nth-child(11) {
  animation: anime 3s ease-in-out infinite;
  grid-area: q;
  animation-delay: calc(11 * 400ms);
}

.cubes:nth-child(12) {
  animation: anime 3s ease-in-out infinite;
  grid-area: p;
  animation-delay: calc(12 * 400ms);
}

.cubes:nth-child(13) {
  animation: anime 3s ease-in-out infinite;
  grid-area: k;
  animation-delay: calc(13 * 400ms);
}

.cubes:nth-child(14) {
  animation: anime 3s ease-in-out infinite;
  grid-area: f;
  animation-delay: calc(14 * 400ms);
}

.cubes:nth-child(15) {
  animation: anime 3s ease-in-out infinite;
  grid-area: g;
  animation-delay: calc(15 * 400ms);
}

.cubes:nth-child(16) {
  animation: anime 3s ease-in-out infinite;
  grid-area: h;
  animation-delay: calc(16 * 400ms);
}

.cubes:nth-child(17) {
  animation: anime 3s ease-in-out infinite;
  grid-area: i;
  animation-delay: calc(17 * 400ms);
}

.cubes:nth-child(18) {
  animation: anime 3s ease-in-out infinite;
  grid-area: n;
  animation-delay: calc(18 * 400ms);
}

.cubes:nth-child(19) {
  animation: anime 3s ease-in-out infinite;
  grid-area: m;
  animation-delay: calc(19 * 400ms);
}

.cubes:nth-child(20) {
  animation: anime 3s ease-in-out infinite;
  grid-area: l;
  animation-delay: calc(20 * 400ms);
}

/*# sourceMappingURL=style.css.map */
